<div class="main-header">
  <div class="right-header">
    <ul class="lists-right">
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    </ul>
  </div>
</div>

<div class="contents">
  <div class="content">
    <div class="ask-content">
      <div class="subtitle">
        新規相談リスト
      </div>
    </div>
    <div class="ask-info">
      <div class="ask-detail">
        <div class="ask-title">
          タイトル
        </div>
        <div class="ask-category">
          カテゴリー
        </div>
        <div class="ask-user">
          ユーザー名
        </div>
      </div>
      <div class="ask-detail">
        <div class="ask-title">
          タイトル
        </div>
        <div class="ask-category">
          カテゴリー
        </div>
        <div class="ask-user">
          ユーザー名
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-footer">
  <p class="copyright">
    Copyright einander 2021
  </p>
</div>