<div class="side-bar-header">
  <%= link_to image_tag("einander_logo.png", class:"einander-icon"), root_path %>
</div>

<div class="post-content">
  <div class="select-post-contents">
    <ul class="post-lists">
      <li class="post-detail"><%= link_to image_tag("question_icon.png", size: '150x60', class:"question-icon"), new_question_path %></li>
      <li class="post-detail"><%= link_to image_tag("advise_icon.png", size: '150x60', class:"advise-icon"), suggestions_path %></li>
      <li class="post-detail"><%= link_to image_tag("share_icon.png", size: '161x66', class:"share-icon"), new_blog_path %></li>
    </ul>
  </div>
</div>

<div class="side-footer">
  <div class ="copyright">
    Copyright einander 2021
  </div>
</div>