<div class="side-bar-header">
  <div class="logo">
    <%= link_to 'einander', root_path, class: "einander-icon" %>
  </div>
</div>

<div class="post-content">
  <div class="select-post-contents">
    <p class="post-title">
      何を投稿しますか?
    </p>
    <ul class="post-lists">
      <li><%= link_to '相談する', root_path, class: "ask" %></li>
      <li><%= link_to 'アドバイスする', root_path, class: "advise" %></li>
      <li><%= link_to '情報をシェアする', root_path, class: "share" %></li>
    </ul>
  </div>
</div>