<div class="ask-detail">
  <div class="ask-title">
    <%= @question.title %>
  </div>
  <div class="ask-category">
    <%= @question.category.name %>
  </div>
  <div class="ask-user">
    <%= @question.user.nickname %>
  </div>
  <div class="ask-date">
    <%= l @question.created_at %>
  </div>
</div>