.wrapper {
  display: flex;
}

/* サイドバー */
.side-bar {
  width: 250px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.einander-icon {
  width: 10vw;
  margin-right: 10vw;
  position: absolute;
  top: 18px;
  left: 60px;
}

.post-content {
  background-color: #CD9CC8;
  height: calc(100vh - 100px - 50px);
  padding: 0 20px;
  overflow: scroll;
}

.select-post-contents {
  padding: 20px 0 20px;
  margin-top: 15px;
}

.post-lists {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
}

.post-detail {
margin: 8px;
}

.question-icon {
  margin-left: 25px;
}

.advise-icon {
  margin-left: 13px;
}

.share-icon {
  margin-left: 15px;
  margin-top: 3px;
}

.side-footer {
  background-color: #E0CFBB;
  height: 50px;
  display: flex;
  align-items: center;
}

.copyright {
  font-size: 2.3vh;
  color: #FAFAFA;
  margin-left: 4.5vh;
}


/* メイン部分 */
.main-content {
  background-color: #FFFFFF;
  width: calc(100vw - 250px);
  height: 100vh;
}

.main-header {
  height: 100px;
  padding: 0 40px;
  background-color: #A6C8C8;
  display: flex;
  flex-direction: column;
}

.right-header {
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.lists-right {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.login {
  text-decoration: none;
  margin-right: 20px;
  color: #333333;
  border: 1px solid;
  padding: 10px;
}

.sign-up {
  text-decoration: none;
  color: #333333;
  border: 1px solid;
  padding: 10px;
}

.user-nickname {
  text-decoration: none;
  margin-right: 20px;
  color: #333333;
  padding: 10px;
}

.logout {
  text-decoration: none;
  color: #333333;
  border: 1px solid;
  padding: 10px;
}

.contents {
  height: calc(100vh - 100px);
  padding: 20px 40px;
  overflow: scroll;
  background-image: url("/images/background_image.png");
  background-size: contain;
  background-repeat: repeat;
  background-position: top center;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

.explain-title {
  font-size: 4vh;
}

.ask-content .subtitle {
  font-size: 3vh;
  margin: 1vh 0 3vh;
  font-weight: bold;
  border-bottom: 2px solid #CD9CC8;
}

.ask-info {
  width: 100vw;
  display: flex;
}

.ask-detail {
  width: 45vh;
  padding: 1vw;
  margin-right: 20px;
  border: 2px solid #CD9CC8;
}

.ask-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}

.title-link {
  text-decoration: none;
}

.ask-category {
  color: #7c7979;
}

.ask-content {
  padding: 5px 0;
}

.ask-date {
  font-size: 2vh;
  color: #7c7979;
}

.blog-image {
  margin-top: 5px;
  margin-bottom: 2px;
}