.wrapper {
  display: flex;
}

/* サイドバー */
.side-bar {
  background-color: #f0bf97;
  width: 250px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #f0bf97;
  display: flex;
  align-items: center;
}

.logo .einander-icon {
  font-size: 30px;
  color: #FAFAFA;
  text-decoration: none;
}

.post-content {
  background-color: bisque;
  height: calc(100vh - 100px);
  padding: 0 20px;
}

.select-post-contents {
  padding: 20px 0 20px;
}

.post-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}

.ask {
  text-decoration: none;
}

.advise {
  text-decoration: none;
}

.share {
  text-decoration: none;
}

/* メイン部分 */
.main-content {
  background-color: #FFFFFF;
  width: calc(100vw - 250px);
  height: 100vh;
}

.main-header {
  height: 100px;
  background-color: bisque;
  padding: 0 40px;
}

.contents {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 0 40px;
}

.main-footer {
  background-color: #f0bf97;
  height: 90px;
  padding: 20px 40px;
}