<div class="content">
  <div class="ask-content">
    <div class="subtitle">
      New Questions
    </div>
  </div>
  <div class="ask-info">
    <%= render partial: '/questions/question', collection: @questions %>
  </div>
</div>